################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/src/Scoreboard/bin/Debug/net8.0
/src/Scoreboard/obj
/tests/Scoreboard.Tests/bin
/tests/Scoreboard.Tests/obj
